@charset "UTF-8";

/* 
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: rgb(208, 255, 208);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(5, 170, 5);
}

h1#principal{
    text-align: center;
    background-color: rgb(5, 170, 5);
    color: white;
}

h2{
    color: #358335;
}

.basico{
    color: #358335;
}

.intermediario{
    color: #758335;
}

.avancado{
    color: #833535;
}

.destaque{
    background-color: rgba(184, 184, 77, 0.459);
}